@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&family=Open+Sans:wght@300;400;700;800&family=Oswald:wght@300;400;500;700&display=swap");
a {
  text-decoration: none;
  color: #E63946;
}

.btn {
  display: inline-block;
  padding: 0.3rem 0.7rem;
  margin: .5rem 0;
  background: -webkit-gradient(linear, left top, left bottom, from(#E63946), to(#D00000));
  background: linear-gradient(#E63946, #D00000);
  color: #F1FAEE;
  border-radius: 0.3rem;
  font-size: 0.85rem;
  font-weight: 700;
  -webkit-transition: all .2s linear;
  transition: all .2s linear;
}

.btn:hover, .btn:focus {
  background: -webkit-gradient(linear, left top, left bottom, from(#D00000), to(#9D0208));
  background: linear-gradient(#D00000, #9D0208);
}

.font-red {
  color: #E63946;
}

.disabled-link {
  cursor: default;
  pointer-events: none;
  text-decoration: none;
  color: grey;
}

header {
  width: 100%;
  height: 100vh;
  background-image: url("../img/header-bg.jpg");
  background-color: #1D3557;
  background-position: center;
  background-size: cover;
  background-blend-mode: multiply;
  color: #F1FAEE;
  padding: 4rem 10% 0 10%;
  position: relative;
}

header .title {
  font-size: 2rem;
  line-height: 2.6rem;
  font-family: "Oswald";
  font-weight: 700;
  margin-bottom: 2rem;
  text-transform: uppercase;
}

header .navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1rem;
  font-size: 1.5rem;
  line-height: 1.95rem;
  font-family: 'Open Sans';
  font-weight: 400;
}

header .navigation a {
  display: inline-block;
  background-color: transparent;
  padding: .5rem 1rem;
  border-radius: 0.5rem;
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-transition: all .4s linear;
  transition: all .4s linear;
}

header .navigation a:hover, header .navigation a:focus {
  background-color: #E63946;
  -webkit-box-shadow: 3px 3px 10px #D00000;
          box-shadow: 3px 3px 10px #D00000;
}

header .navigation a:not(.disabled-link) {
  color: inherit;
}

header .bottom-content {
  position: absolute;
  bottom: 2rem;
  width: 80%;
}

header .bottom-content .sub-text {
  font-size: 1rem;
  line-height: 1.3rem;
  font-family: 'Open Sans';
  font-weight: 400;
}

header .bottom-content form {
  position: relative;
  margin: 1rem 0;
}

header .bottom-content form #email {
  width: 100%;
  height: 3rem;
  padding: .5rem 2rem .5rem 1rem;
  font-size: 1rem;
  line-height: 1.3rem;
  font-family: "Lato";
  font-weight: 300;
  color: #F1FAEE;
  background: transparent;
  border: 0.5px solid #1D3557;
  -webkit-transition: border .2s linear;
  transition: border .2s linear;
}

header .bottom-content form #email:focus, header .bottom-content form #email:hover {
  border: 0.5px solid #457B9D;
  outline: none;
}

header .bottom-content form #email:active {
  border: 0.5px solid #F1FAEE;
  outline: none;
}

header .bottom-content form #email:invalid {
  border: 0.5px solid #D00000;
  outline: none;
}

header .bottom-content form #email:invalid + button {
  color: #D00000;
}

header .bottom-content form button {
  position: absolute;
  right: 1rem;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  border: none;
  background: transparent;
  color: #F1FAEE;
  cursor: pointer;
  -webkit-transition: color .2s linear;
  transition: color .2s linear;
}

header .bottom-content .links {
  width: 100%;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 2rem;
  font-size: 1.5rem;
  color: #F1FAEE;
}

header .bottom-content .links svg {
  cursor: pointer;
  -webkit-transition: color .2s linear;
  transition: color .2s linear;
}

header .bottom-content .links svg:hover {
  color: #E63946;
}

@media screen and (min-width: 720px) {
  header {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
  }
}

.event {
  width: 100%;
  height: 760px;
}

.event__item {
  width: 100%;
  height: 50%;
  background-image: var(--bg-img);
  background-color: #457B9D;
  background-position: center;
  background-size: cover;
  background-blend-mode: multiply;
  color: #F1FAEE;
  padding: 1.5rem 10%;
  -webkit-transition: all .3s linear;
  transition: all .3s linear;
}

.event__item .title {
  font-size: 1.5rem;
  line-height: 1.95rem;
  font-family: "Oswald";
  font-weight: 700;
  text-align: center;
  margin-bottom: 1rem;
}

.event__item .content {
  height: 70%;
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-grid-columns: auto 100px;
      grid-template-columns: auto 100px;
  gap: 1rem;
  font-size: 1rem;
  line-height: 1.3rem;
  font-family: 'Open Sans';
  font-weight: 400;
}

.event__item .content .meta {
  text-align: center;
}

.event__item:hover, .event__item:focus-within {
  background-color: #03071E;
}

.article {
  width: 100%;
  height: 760px;
  border: 1px solid #03071E;
  -webkit-transition: all .3s linear;
  transition: all .3s linear;
}

.article .img {
  background-image: var(--bg-img);
  background-color: none;
  background-position: center;
  background-size: cover;
  background-blend-mode: multiply;
  width: 100%;
  height: 50%;
  -webkit-transition: height .3s linear;
  transition: height .3s linear;
}

.article .content {
  position: relative;
  width: 100%;
  height: 50%;
  padding: 5% 10%;
  font-size: 1rem;
  line-height: 1.3rem;
  font-family: 'Open Sans';
  font-weight: 400;
  -webkit-transition: all .3s linear;
  transition: all .3s linear;
}

.article .content .title {
  font-size: 1.5rem;
  line-height: 1.95rem;
  font-family: "Oswald";
  font-weight: 700;
  margin-bottom: 1rem;
}

.article .content .meta {
  margin-bottom: 1rem;
}

.article .content a {
  -webkit-transition: all .3s linear;
  transition: all .3s linear;
  position: absolute;
  bottom: 5%;
}

.article:hover, .article:focus-within {
  background-color: #1D3557;
}

.article:hover .img, .article:focus-within .img {
  height: 45%;
}

.article:hover .content, .article:focus-within .content {
  padding-top: 10%;
  color: #F1FAEE;
  height: 55%;
}

.paginator {
  margin: 2rem auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.paginator--group {
  overflow: hidden;
  border-radius: 1em;
  border: 1px solid black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.paginator--pages {
  padding: .5rem 1rem;
  font-weight: 700;
}

.paginator--btn {
  font-size: 0.85rem;
  font-weight: 700;
  padding: .5rem 1.5rem;
  color: honeydew;
  background: -webkit-gradient(linear, left top, left bottom, from(#E63946), to(#D00000));
  background: linear-gradient(#E63946, #D00000);
  -webkit-transition: all .2s linear;
  transition: all .2s linear;
}

.paginator--btn:hover, .paginator--btn:focus {
  background: -webkit-gradient(linear, left top, left bottom, from(#D00000), to(#9D0208));
  background: linear-gradient(#D00000, #9D0208);
}

.paginator--btn__link {
  font-size: 0.85rem;
  font-weight: 700;
  padding: .5rem 1.5rem;
  border-left: 1px solid black;
  border-right: 1px solid black;
  color: honeydew;
  background: -webkit-gradient(linear, left top, left bottom, from(#E63946), to(#D00000));
  background: linear-gradient(#E63946, #D00000);
  -webkit-transition: all .2s linear;
  transition: all .2s linear;
}

.paginator--btn__link:hover, .paginator--btn__link:focus {
  background: -webkit-gradient(linear, left top, left bottom, from(#D00000), to(#9D0208));
  background: linear-gradient(#D00000, #9D0208);
}

.article-read .read {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1rem;
  width: 90%;
  margin: 0 auto;
  padding: 1.5rem 0;
}

.article-read .read .category {
  font-size: 1.5rem;
  line-height: 1.95rem;
  font-family: "Oswald";
  font-weight: 700;
  color: #D00000;
}

.article-read .read .tags {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: .7rem;
  color: #1D3557;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.article-read .read .tags__title {
  font-size: 1rem;
  line-height: 1.3rem;
  font-family: "Oswald";
  font-weight: 700;
}

.article-read .read .tags .tag {
  font-size: 1rem;
  line-height: 1.3rem;
  font-family: "Lato";
  font-weight: 300;
  display: inline-block;
  position: relative;
  border-bottom: 2px solid #E63946;
}

.article-read .read .title {
  font-size: 2rem;
  line-height: 2.6rem;
  font-family: "Oswald";
  font-weight: 700;
}

.article-read .read .meta, .article-read .read .source {
  font-size: 1rem;
  line-height: 1.3rem;
  font-family: "Lato";
  font-weight: 300;
}

.article-read .read .summary {
  font-size: 1rem;
  line-height: 1.3rem;
  font-family: 'Open Sans';
  font-weight: 400;
  font-weight: 700;
  padding: .5rem 1rem;
  border-left: 4px solid #E63946;
  border-right: 4px solid #E63946;
  background: rgba(230, 57, 70, 0.1);
}

.article-read .read .text {
  font-size: 1rem;
  line-height: 1.3rem;
  font-family: 'Open Sans';
  font-weight: 400;
}

.article-read .read .text img {
  display: block;
  max-width: 100%;
  border: 4px solid #D00000;
  border-right: none;
  border-bottom: none;
  border-top-left-radius: .7rem;
  padding: .7rem 0 0 .7rem;
}

.article-read .read .text img + em {
  display: block;
  font-size: 1rem;
  line-height: 1.3rem;
  font-family: 'Open Sans';
  font-weight: 400;
  color: #A8DADC;
  margin-bottom: 2rem;
  margin-top: .5rem;
  padding-left: 1rem;
}

.article-read .read .text p {
  margin-bottom: 1rem;
}

.article-read .read .text blockquote {
  padding: .5rem 1rem;
  font-style: italic;
  border-left: 4px solid #457B9D;
  background: rgba(69, 123, 157, 0.05);
  margin-bottom: 1rem;
}

.article-read .read .text blockquote p {
  margin: 0;
}

.article-read .read .source {
  font-size: 1rem;
  line-height: 1.3rem;
  font-family: 'Open Sans';
  font-weight: 400;
  font-weight: 700;
  padding: .5rem 1rem;
  border-left: 4px solid #E63946;
  border-right: 4px solid #E63946;
  background: rgba(230, 57, 70, 0.05);
}

@media screen and (min-width: 1100px) {
  .article-read {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: auto 360px;
        grid-template-columns: auto 360px;
  }
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: minmax(350px, 1fr);
      grid-template-columns: minmax(350px, 1fr);
  max-width: 1980px;
  margin: 0 auto;
}

@media screen and (min-width: 720px) {
  body {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 1080px) {
  body {
    -ms-grid-columns: 360px auto;
        grid-template-columns: 360px auto;
  }
}

.home {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto;
      grid-template-columns: auto;
}

@media screen and (min-width: 720px) {
  .home {
    -ms-grid-columns: (minmax(360px, 1fr))[auto-fill];
        grid-template-columns: repeat(auto-fill, minmax(360px, 1fr));
  }
}

.intro {
  display: none;
}
/*# sourceMappingURL=main.css.map */