{{ define "main" }}
<main class="article-read">
    <section class="read">
        <h1 class="title">{{ .Title }}</h1>
        <p class="meta">{{ .PublishDate.Format "January 02, 2006 15:04 MST" }}. Reading time is: {{ .ReadingTime }} min.</p>
		<p class="summary">
			{{ .Params.summary }}
		</p>
        <p class="text">
			{{ .Content | safeHTML }}
		</p>
        <a href='{{ .Params.source }}' class="source">Source: {{ .Params.Author }}</a>
    </section>
    <section class="articles">
    {{ range $index, $page := first 2 .Site.RegularPages }}
	<div class="article">
		<div class="img" style="--bg-img: url('{{ $page.Params.img }}')"></div>
		<div class="content">
			<h2 class="title">{{ $page.Title }}</h2>
			<p class="meta">{{ $page.PublishDate.Format "2006, January 2" }}</p>
			<div class="text">
				{{ truncate 130 $page.Params.summary }}
			</div>
			<a href="{{ $page.Permalink }}" class="btn">Read more</a>
		</div>
	</div>
	{{ end }}
    </section>
</main>
{{ end }}