$prussian-blue: #1D3557;
$prussian-blue-dark: #192F4D;
$celadon-blue: #457B9D;
$powder-blue: #A8DADC;
$honeydew: #F1FAEE;
$imperial-red: #E63946;
$rosso-corsa: #D00000;
$dark-red: #9D0208;
$xiketic: #03071E;