<header>
    <h1 class="title">Beyond<span class='font-red'>F1</span></h1>
    <nav class='navigation'>
        <a href="/">Home</a>
        <a href="/wiki" class='disabled-link'>Wiki</a>
        <a href="/contacts" class='disabled-link'>Contacts</a>
    </nav>
    <div class="bottom-content">
        <span class="sub-text">Subscribe for updates</span>
        <form method="post">
            <input type="email" name="email" id="email" placeholder="Enter your email">
            <button type="submit"><i class="fas fa-paper-plane"></i></button>
        </form>
        <div class="links">
            <i class="fab fa-linkedin"></i>
            <i class="fab fa-github-square"></i>
            <i class="fab fa-codepen"></i>
        </div>
    </div>
</header>
