<nav class="navbar navbar-expanded navbar-dark bg-dark fixed-top">
	<div class="container">
		<a class="navbar-brand" href="/"><img src="/img/logo.png" height="32px"> {{ .Site.Title }}</a>
	<button class="navbar-toggler ms-auto" type="button" data-bs-toggle="offcanvas" data-bs-target="#menu">
		<span class="navbar-toggler-icon"></span>
	</button>
	</div>
</nav>

<div class="offcanvas offcanvas-start" id="menu">
	<div class="offcanvas-header bg-dark ">
		<a href="/" class="offcanvas-title text-decoration-none text-danger">
			<h2>{{ .Site.Title }}</h2>
		</a>
		<button class="btn-close text-reset bg-secondary" type="button" data-bs-dismiss="offcanvas"></button>
	</div>
	<div class="offcanvas-body">
		<p>
			{{ .Site.Params.description }}
		</p>
		<hr>
		<ul class="nav flex-column">
			<h3>Navigation:</h3>
			{{ range .Site.Menus.main }}
			<li class="nav-item mb-2">
				<a class="btn btn-outline-success w-100 text-start" href="{{ .URL }}">
					{{ .Name | safeHTML }}
				</a>
			</li>
			{{ end }}
		</ul>
		<hr>
		<ul class="nav flex-column">
			<h3>Categories:</h3>
			{{ range $name, $taxonomy := .Site.Taxonomies }}
			{{ if eq $name "categories" }}
			{{ range $key, $value := $taxonomy }}
			<li class="nav-item mb-2">
				<a class="btn btn-outline-primary w-100 text-start" href="{{ $.Site.BaseURL }}{{ $name }}/{{ $key }}/">
					{{ $key }}
				</a>
			</li>
			{{ end }}
			{{ end }}
			{{ end }}
		</ul>
  	</div>
	{{ partial "footer" .}}
</div>