<section class="bg-dark text-white py-5 mt-5 bg-img" style="background-image: url('/img/home-hero.png');">
    <div class="container h-100">
        <div class="row d-flex align-items-center h-100 justify-content-between">
            <div class="col-lg-4 col-md-6 h-auto rounded p-3" style="background-color: rgba(80, 80, 80, 0.9);">
                <h1>{{ .Site.Title }}</h3>
                <p class="description text-warning my-4"> {{ .Site.Params.description }}</p>
            </div>
        </div>
    </div>
</section>