{{ define "main" }}
{{ partial "hero.html" . }}	
<section class="py-5">
		<h3 class="text-center fw-bold mb-5">Latest Posts</h3>
		<div class="container">
			<div class="row g-3">
			{{ range $index, $page := first 3 .Site.RegularPages }}
			{{ if eq $index 0}}
			<div class="col-12">
				<div class="card bg-dark text-white shadow-lg p-0 border-danger">
					<div class="row g-0">
						<div class="col-lg-7">
							<img src="{{ $page.Params.img }}"class="card-img h-100 w-100" loading="lazy">
						</div>
						<div class="col-lg-5">
							<div class="card-body">
								<h3 class="card-title">{{ $page.Title }}</h3>
								<p class="card-text fs-6">{{ $page.PublishDate.Format "2006, January 2"}}</p>
								<div class="container my-3">
								{{ range $page.Params.categories }}
									<a class="card-text btn btn-outline-light fs-5" type="button" href="/categories/{{ . }}/">{{ . }}</a>
								{{ end }}
								</div>
								<p class="card-text fs-5">{{ $page.Params.summary }}</p>
								<a href="{{ $page.Permalink }}" class="btn text-danger fw-bold fs-5" type="button">Read more <i class="bi bi-arrow-right"></i></a>
							</div>
						</div>
					</div>
				</div>
			</div>
			{{ else }}
			<div class="col-lg-6">
				<div class="card bg-dark text-white shadow-lg p-0 border-light">
					<div class="row g-0">
						<div class="">
							<img src="{{ $page.Params.img }}"class="card-img h-100 w-100" loading="lazy">
						</div>
						<div class="">
							<div class="card-body">
								<h3 class="card-title">{{ $page.Title }}</h3>
								<p class="card-text">{{ $page.PublishDate.Format "2006, January 2"}}</p>
								<div class="containermy my-3">
								{{ range $page.Params.categories }}
									<a class="card-text btn btn-outline-light" type="button" href="/categories/{{ . }}/">{{ . }}</a>
								{{ end }}
								</div>
								<p class="card-text">{{truncate 200 $page.Params.summary }}</p>
								<a href="{{ $page.Permalink }}" class="btn text-danger fw-bold fs-5" type="button">Read more <i class="bi bi-arrow-right"></i></a>
							</div>
						</div>
					</div>
				</div>
			</div>
			{{ end }}
			{{ end }}
			</div>
		</div>
</section>
{{ end }}

