{{ define "main" }}
<main >
	<section class="home">
		{{ $paginator := (.Paginate .Site.RegularPages) }}
		{{ range $page := $paginator.Pages }}
		<div class="article">
			<div class="img" style="--bg-img: url({{ $page.Params.img }})"></div>
			<div class="content">
				<h4 class="category">{{index $page.Params.categories 0}}</h3>
				<h2 class="title">{{ truncate 64 $page.Title }}</h2>
				<p class="meta">{{ $page.PublishDate.Format "2006, January 2 15:04 MST" }}</p>
				<div class="text">
					{{ truncate 128 $page.Params.summary }}
				</div>
				<a href="{{ $page.Permalink }}" class="btn">Read more</a>
			</div>
		</div>
		{{ end }}
	</section>
	<div class="paginator">
		<div class="paginator--group">
			<a href="{{ $paginator.First.URL }}" class="paginator--btn">First</a>
			{{ if $paginator.HasPrev }}
			<a href="{{ $paginator.Prev.URL }}" class="paginator--btn__link">Prev</a>
			{{ end }}
			<span class="paginator--pages">{{ $paginator.PageNumber }} / {{ $paginator.TotalPages }}</span>
			{{ if $paginator.HasNext }}
			<a href="{{ $paginator.Next.URL }}" class="paginator--btn__link">Next</a>
			{{ end }}
			<a href="{{ $paginator.Last.URL }}" class="paginator--btn">Last</a>
		</div>
	</div>
</main>
{{ end }}

